! Xresources

! Font
URxvt.font: 			xft:Fira Code Medium:size=11
URxvt.letterSpacing: 		2

! Scrollbar
URxvt.scrollTtyOutput: 		false
URxvt.scrollWithBuffer: 	true
URxvt.scrollTtyKeypress: 	true
URxvt.scrollBar: 		false

URxvt.internalBorder:           15

! Colors

URxvt.background: 		#242424
URxvt.foreground:		#f4f4f4

URxvt.color0:           	#3b3b3b
URxvt.color8:           	#131313

URxvt.color1:           	#8B4747
URxvt.color9:           	#AF6868

URxvt.color2:           	#5B8360
URxvt.color10:			#43904C

URxvt.color3:			#C28446
URxvt.color11:			#C28446

URxvt.color4:           	#c49198
URxvt.color12:          	#c49198

URxvt.color5:           	#8B7899
URxvt.color13:          	#8B7899

URxvt.color6:           	#7792a9
URxvt.color14: 			#7792a9
